.MMM-RemoteTemp div {
    color: purple;
}

.MMM-RemoteTemp .symbol {
  margin-right: 15px;
}

.MMM-RemoteTemp .temp {
  margin: 0 15px;  /* Add left and right margins */
}

.MMM-RemoteTemp .humidity {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;  /* Add right margin */
}

.MMM-RemoteTemp .more {
  margin: 10px 0;  /* Add vertical spacing for the status line */
}

.MMM-RemoteTemp .more .fa {
  font-size: 16px;
  margin-left: 15px;
}

.MMM-RemoteTemp .data {
  font-size: 20px;
  margin-top: 10px;
}

.MMM-RemoteTemp .battery {
    margin-left: 15px;
}

.MMM-RemoteTemp .time {
    display: inline-block;
}
